body {
    background-color: #5DB3A81A;
}

.container {
    width: 98%;
    height: 170vh;
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
}

/* container_inner_left */
.container_inner_left {
    width: 10%;
    height: 100vh;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* logotip */
.logotip {
    width: 100px;
    height: 100px;
}

ul {
    height: 36vh;
    list-style: none;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    color: #8C8CB6;
}

ul li {
    display: flex;
    flex-direction: column;
    font-size: 26px;
}

ul li:hover {
    color: blue;
}


/* container_inner_right */
.container_inner_right {
    width: 90%;
    height: 160vh;
    /* border: 12px solid rgb(7, 141, 20); */
}

/* search */
.search {
    width: 650px;
    height: 7vh;
    color: #4E3F6F;
    border-radius: 12px;
    padding: 8px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 2px black;
    font-size: 18 px;
}

/* container_inner_right_top */
.container_inner_right_top {
    width: 100%;
    height: 8vh;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* card_right_top */
.card_right_top {
    display: flex;
    color: #4E3F6F;
    font-family: 'Times New Roman', Times, serif;
}


.img1 {
    width: 50px;
    height: 50px;
}

/* btnOut */
.btnOut {
    border: none;
    border-left: 3px solid grey;
    text-align: start;
    width: 250px;
    height: 7vh;
    background-color: transparent;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.btnOut:hover {
    background-color: black;
    color: white;
}

/* container_inner_right_top1 */
.container_inner_right_top2 {
    width: 100%;
    height: 5vh;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    color: #4E3F6F;

}

.container_inner_right_top2_txt {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
}


/* title_category */
.title_category {
    width: 100%;
    height: 8vh;
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
}

.title_category_txt {
    color: #4E3F6F;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
}

/* card_category */
.card_category {
    width: 100%;
    height: 40vh;
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.card_music,
.card_actor,
.card_Youtube,
.card_block,
.card_comic,
.card_model {
    width: 30%;
    height: 14vh;
    border-radius: 16px;
    box-shadow: 0px 0px 2px black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #4E3F6F;
}

.card_music:hover {
    color: white;
    background-color: black;
}

.card_actor:hover {
    color: white;
    background-color: black;
}

.card_Youtube:hover {
    color: white;
    background-color: black;
}

.card_block:hover {
    color: white;
    background-color: black;
}

.card_comic:hover {
    color: white;
    background-color: black;
}

.card_model:hover {
    color: white;
    background-color: black;
}

/* title_recommend */
.title_recommend {
    color: #4E3F6F;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* card_recommend */
.card_recommend {
    width: 100%;
    height: 120vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.card_recommend1 {
    width: 38%;
    height: 55vh;
    /* border: 1px solid red; */
    border-radius: 12px;
    box-shadow: 0px 0px 2px black;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-right: 12px;
}

.card_recommend1:hover {
    color: white;
    box-shadow: 0px 0px 5px black;
}


/* recommend1_title */
.recommend1_title,
.recommend2_title {
    color: #4E3F6F;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.recommend1_txt,
.recommend2_txt {
    color: #8C8CB6;
    font-size: 15px;
}

.card_recommend1_img {
    width: 100%;
    height: 35vh;
}

.card_recommend2,
.card_recommend3 {
    width: 28%;
    height: 55vh;
    /* border: 1px solid red; */
    border-radius: 12px;
    padding: 5px;
    margin-right: 16px;
    box-shadow: 0px 0px 2px black;
}


.card_recommend4,
.card_recommend5,
.card_recommend6 {
    width: 20%;
    height: 55vh;
    /* border: 1px solid red; */
    border-radius: 12px;
    box-shadow: 0px 0px 2px black;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
}

/* card_recommend2_img */
.card_recommend2_img {
    width: 350px;
    height: 37vh;
}


.card_recommend2:hover {
    box-shadow: 0px 0px 5px black;
    color: white;
}

.card_recommend3:hover {
    box-shadow: 0px 0px 5px black;
    color: white;
}

.card_recommend4:hover {
    box-shadow: 0px 0px 5px black;
    color: white;
}

.card_recommend5:hover {
    box-shadow: 0px 0px 5px black;
    color: white;
}

.card_recommend6:hover {
    box-shadow: 0px 0px 5px black;
    color: white;
}


/* btnShow */
.btnShow {
    width: 100px;
    height: 50px;
    font-size: 14px;
    border-radius: 12px;
    border: 1px solid grey;
    box-shadow: 0px 0px 2px black;

}